*.iml
target/

.idea
.classpath
.project
.settings
rebel.xml

chart-plugin-demo/src/main/webapp/VAADIN/
chart-export-demo/src/main/webapp/VAADIN/
chart-export-demo/target/

book-examples/target
book-examples/src/main/webapp/VAADIN/
documentation/examples/**/bower_components

# Mac
*.DS_Store
