*.iml
target/
.idea
.classpath
.project
.settings
rebel.xml

chart-plugin-demo/src/main/webapp/VAADIN/
chart-export-demo/src/main/webapp/VAADIN/
chart-export-demo/target/

documentation/examples/**/bower_components

# Mac
*.DS_Store
