
<div id="panel">
	<div id="form">
		<h1>We'd love to hear your ideas!</h1>
		<h3>
			What would you like us to change in <span style="color: #e61e6d">Charts</span>
			to make it better?
		</h3>
		<input type="hidden" name="name" value="Feedback form"> <input
			type="hidden" name="idea" value="334974">
		<textarea id="feedback" name="feedback" cols="40" rows="5">It would be awesome if </textarea>
		<h3>You can leave your email address if you want</h3>
		<input id="email" type="text" name="email" value="">
		<button id="submit">Give feedback</button>
	</div>
	<h3 id="message" style="display: none;'">Thanks!</h3>
</div>
<script>
	var button = document.getElementById('submit');
	var form = document.getElementById('form');
	var response = document.getElementById('message');
	var request = new XMLHttpRequest();
	var feedback = document.getElementById('feedback');
	var email = document.getElementById('email');

	request.onreadystatechange = function() {
		if (request.readyState === 4) {
			form.style.display = 'none';
			response.style.display = 'inline';
			if (request.status === 201) {
				response.innerHTML = 'Thanks for your feedback';
			} else {
				response.innerHTML = 'An error occurred while submitting the feedback';
			}
		}
	}

	button.onclick = function() {
		var formData = new FormData();
		formData.append("name", "Feedback form");
		formData.append("idea", "334974");
		formData.append("feedback", feedback.value);
		formData.append("email", email.value);
		request.open('POST', 'https://api.prodpad.com/v1/feedbacks?apikey=262ae208ca624b565962a1e204e2b231f595c39d427e680875561634d5c83d9c');
		request.send(formData);
		return false;
	};
</script>
