
<div id="panel">
	<div id="form">
		<h1 id="feedback-title">We’d love to hear your ideas!</h1>
		<h3>
			What would you like us to change in <span style="font-weight: 500;">Charts</span>
			to make it better?
		</h3>
		<input type="hidden" name="name" value="Feedback form"> <input
			type="hidden" name="idea" value="334974">
		<textarea id="feedback" name="feedback" cols="40" rows="5">It would be awesome if </textarea>
		<h3>You can leave your email address if you want</h3>
		<input id="email" type="text" name="email" value="" placeholder="me@example.com">
		<button id="submit">Give feedback</button>
	</div>
	<h3 id="message" style="display: none;'">Thanks!</h3>
</div>
<script>
	var feedback = document.getElementById('feedback');
	setTimeout(
			function() {
				feedback.focus();
				feedback.setSelectionRange(feedback.value.length,
						feedback.value.length);
			}, 1);
	
	var button = document.getElementById('submit');
	button.onclick = function() {
		var form = document.getElementById('form');
		var response = document.getElementById('message');
		var request = new XMLHttpRequest();
		var email = document.getElementById('email');

		request.onreadystatechange = function() {
			if (request.readyState === 4) {
				form.style.display = 'none';
				response.style.display = 'inline';
				if (request.status === 201) {
					response.innerHTML = 'Thanks for your feedback';
				} else {
					response.innerHTML = 'An error occurred while submitting the feedback';
				}
			}
		}

		if (feedback.value !== 'It would be awesome if ') {
			var formData = new FormData();
			formData.append('name', 'Charts Demo');
			formData.append('idea', '344909');
			formData.append('feedback', feedback.value);
			formData.append('email', email.value);
			request.open('POST', 'https://api.prodpad.com/v1/feedbacks?apikey=262ae208ca624b565962a1e204e2b231f595c39d427e680875561634d5c83d9c');
			request.send(formData);
		} else {
			feedback.focus();
		}
		return false;
	};
</script>
