    <div id="panel">
      <h1>We'd love to hear your ideas!</h1>
      <h3>What would you like us to change in <span style="color:#e61e6d">Charts</span> to make it better?</h3>
<!--       <form class="" action="https://api.prodpad.com/v1/feedbacks?apikey=262ae208ca624b565962a1e204e2b231f595c39d427e680875561634d5c83d9c" method="post"> -->
      <form class="" action="https://api.prodpad.com/v1/feedbacks" method="post">

        <input type="hidden" name="name" value="Feedback form">
        <input type="hidden" name="idea" value="334974">
        <textarea id="feedback" name="feedback" cols="40" rows="5">It would be awesome if </textarea>
        <h3>You can leave your email address if you want</h3>
        <input id="email" type="text" name="email" value="">
        <button id="submit" type="submit" name="Submit">Give feedback</button>
      </form>
    </div>
