$menu-background-color: #38414A;

$v-link-font-color: #59ACFF;
$v-link-text-decoration: none;
$v-bevel: false;
$v-shadow: false;
$v-gradient: false;

$v-included-components: label, link, orderedlayout, tabsheet, tree, combobox, optiongroup, slider, button, table, notification, colorpicker, window;
$v-included-additional-styles: ();

@import "../valo/valo";
@import "prettify.scss";

.charts-demo {
  @include valo;

  // Include SplitPanel styles manually (avoid any excess output and also modify the splitter size)
  @include valo-splitpanel-global;

  .v-splitpanel-horizontal {
    @include valo-splitpanel-style($orientation: horizontal, $splitter-size: 0);
  }

  .v-splitpanel-first-container-main-layout {
    @include linear-gradient(to left, darken($menu-background-color, 5%) 0, $menu-background-color 9px);
    color: valo-font-color($menu-background-color);
  }



  // Theme selector

  .v-caption-theme-selector,
  .theme-selector {
    position: absolute;
  }

  .theme-selector {
    top: 4px;
    right: 8px;
    width: 10em;
    font-size: $v-font-size--small;
    $v-border: none;
    $v-background-color: #eee;
    @include valo-combobox-style($unit-size: $v-unit-size--small, $bevel: null, $shadow: null, $gradient: null, $border: null, $border-radius: null, $background-color: null, $states: normal);
    @include valo-combobox-no-input-style;
  }

  .v-caption-theme-selector {
    top: 4px;
    right: 11em;
    line-height: $v-unit-size--small;
    font-weight: $v-font-weight;
  }



  // Logo

  .logo {
    color: valo-font-color($menu-background-color, 1);
    font-weight: $v-font-weight + 100;
    text-align: center;
    background: transparent url("vaadin-charts-logo.svg") no-repeat 50% 10px;
    background-size: 70px 67px;
    padding-top: 85px;
    margin-bottom: 4px;

    .v-ie8 & {
      background-image: url("vaadin-charts-logo.png");
    }
  }



  // Sidebar links

  .v-slot-links {
    text-align: center;
  }

  .links {
    font-size: $v-font-size--tiny;
    font-weight: $v-font-weight + 100;
    margin: 0 auto;
  }

  .links > .v-spacing {
    text-align: center;
    width: 1.6em;

    &:before {
      content: "\00b7";
    }
  }



  // Filter textfield

  .v-slot-filter {
    padding: .6em;

    > .v-has-caption {
      // Reposition inline icon
      position: relative;
    }
  }

  .v-textfield-filter {
    @include valo-textfield-style($states: normal, $background-color: lighten($menu-background-color, 3%), $border: none, $shadow: false, $bevel: $false);
    @include transition(all 160ms);

    &:focus {
      outline: none;
    }

    &:hover,
    &:focus {
      background-color: lighten($menu-background-color, 5%);
    }
  }

  @include valo-textfield-inline-icon($stylenames: filter);



  // Tree

  .v-tree {
    font-weight: $v-font-weight + 100;
    color: valo-font-color($menu-background-color, 0.5);
  }

  .v-tree-node-children {
    font-size: $v-font-size--small;
  }

  .v-tree-node-caption:after {
    // Tree node selection
    border-radius: 0;
    $bg-color: darken($menu-background-color, 4%);
    background-color: $bg-color;
    color: valo-font-color($bg-color, 1);
  }



  // Main tabsheet

  .v-splitpanel-second-container-main-layout {
    background: #fff;
  }

  .v-tabsheet {
    @include valo-tabsheet-padded-tabbar-style;
  }

  pre.prettyprint {
    font-size: $v-font-size--small;
    border: none;
    padding: round($v-unit-size / 2) $v-unit-size;
    font-family: Menlo, Consolas, Courier New, monospace;
  }

  .version {
    text-align: right;
    width: 300px;
    height: 30px;
    color: #c5cacf;
    vertical-align: bottom;
    font-size: 12px;
    padding-right: 10px;
  }


}
